<Layouts.page flash={@flash}>
  <header class="bg-black py-3 section-header">
    <h1 class="uppercase font-display text-2xl title">Contact</h1>
  </header>
  <section class="my-8">
    <form class="max-w-2xl m-auto">
      <div class="field">
        <label for="subject">Subject</label>
        <select id="subject">
          <option value="" disabled selected>-- Select Subject --</option>
          <option value="inquiry">Geneal Inquiry</option>
          <option value="training">Training</option>
          <option value="project">Project</option>
          <option value="resources">Resources</option>
        </select>
      </div>
      <div class="field">
        <label for="name">Your Name</label>
        <input type="text" id="name" />
      </div>
      <div class="field">
        <label for="email">Your Email</label>
        <input type="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea id="message" rows="8"></textarea>
      </div>
      <div class="actions mt-4 bg-white/10 px-8 py-4 rounded-b-xl">
        <button type="submit" class="btn btn-ghost">Send Message</button>
      </div>
    </form>
  </section>
</Layouts.page>
