<Layouts.app flash={@flash}>
  <section class="hero">
  </section>
  <section>
    <header class="bg-black py-3 section-header">
      <div class="container text-center">
        <h1 class="uppercase font-display text-2xl">Work</h1>
      </div>
    </header>
  </section>
  <section class="home-footer">
  </section>
</Layouts.app>
