<Layouts.app flash={@flash}>
  <section class="hero">
  </section>
  <section class="works">
    <header class="bg-black py-3 section-header">
      <h1 class="uppercase font-display text-2xl title">Work</h1>
    </header>
    <div class="container py-8">
      <ul class="flex flex-row flex-wrap gap-4 justify-evenly">
        <li class="grow-0 w-[300px]">
          <img alt="Example Bag #1" src="/images/works/bag-1.jpg" class="border-4 border-gold rounded-sm flex-shrink h-[200px]" />
          <p class="text-xs leading-snug mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec.
          </p>
        </li>
        <li class="grow-0 w-[300px]">
          <img alt="Example Bag #2" src="/images/works/bag-2.jpg" class="border-4 border-gold rounded-sm flex-shrink h-[200px]" />
          <p class="text-xs leading-snug mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec.
          </p>
        </li>
        <li class="grow-0 w-[300px]">
          <img alt="Example Bag #3" src="/images/works/bag-3.jpg" class="border-4 border-gold rounded-sm flex-shrink h-[200px]" />
          <p class="text-xs leading-snug mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec.
          </p>
        </li>
        <li class="grow-0 w-[300px]">
          <img alt="Example Bag #4" src="/images/works/bag-4.jpg" class="border-4 border-gold rounded-sm flex-shrink h-[200px]" />
          <p class="text-xs leading-snug mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="home-footer">
  </section>
</Layouts.app>
