<Layouts.app flash={@flash}>
  <section class="hero">
    <div class="h-full flex flex-col items-start justify-end p-4">
      <img alt="Swamp Monster Logo" src="/images/swamp-monster-logo.svg" class="size-48 " />
    </div>
  </section>
  <section class="works">
    <header class="bg-black py-3 section-header">
      <h1 class="uppercase font-display text-2xl title">Work</h1>
    </header>
    <div class="container py-8">
      <ul class="flex flex-row flex-wrap gap-4 justify-evenly">
        <li class="grow-0 w-[300px]">
          <img alt="Example Bag #1" src="/images/works/bag-1.jpg" class="border-4 border-gold rounded-sm flex-shrink h-[200px]" />
          <p class="text-xs leading-snug mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec.
          </p>
        </li>
        <li class="grow-0 w-[300px] shadow-lg">
          <img alt="Example Bag #2" src="/images/works/bag-2.jpg" class="border-4 border-gold rounded-sm flex-shrink h-[200px]" />
          <p class="text-xs leading-snug mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec.
          </p>
        </li>
        <li class="grow-0 w-[300px] shadow-lg">
          <img alt="Example Bag #3" src="/images/works/bag-3.jpg" class="border-4 border-gold rounded-sm flex-shrink h-[200px]" />
          <p class="text-xs leading-snug mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec.
          </p>
        </li>
        <li class="grow-0 w-[300px] shadow-lg">
          <img alt="Example Bag #4" src="/images/works/bag-4.jpg" class="border-4 border-gold rounded-sm flex-shrink h-[200px]" />
          <p class="text-xs leading-snug mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <div class="footer border-t border-t-gold/20 shadow-lg">
    <div class="container flex flex-row justify-between">
      <section>
        <header>
          <h2 class="font-display text-xl">Training</h2>
          <p class="text-gold text-base">Learn to craft luxury leather goods with private training</p>
        </header>
        <div class="flex flex-row justify-between gap-4 my-8">
          <img alt="Leather working tools used during training sessions" src="/images/leather-tools.jpg" class="bg-black border border-gold w-60 h-auto" />
          <p class="max-w-60 text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus nec. Vivamus dapibus mauris ac sagittis fringilla. Integer tristique dui ut lorem accumsan, a vestibulum massa tempus. Mauris volutpat id urna et eleifend.
          </p>
        </div>
        <footer class="flex flex-row gap-4">
          <a href="" class="btn btn-ghost">Book 1-on-1 Training Session</a>
          <a href="" class="btn btn-text">Learn More</a>
        </footer>
      </section>
      <section>
        <header>
          <h2 class="font-display text-xl">Resources</h2>
          <p class="text-gold text-base">Free templates to make your own utility pouches</p>
        </header>
        <ul class="my-8 flex flex-col gap-8">
          <li class="flex flex-row gap-4">
            <div class="bg-base-100  rounded-md border border-gray-600 w-40 h-30 grow-0 p-4 shadow-lg">
              <img alt="Pouch Template" src="/images/templates/template-1.svg" class="w-auto h-full m-auto"  />
            </div>
            <div class="flex flex-col justify-between grow-0 shrink max-w-60">
              <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus.</p>
              <div>
                <a href="#" class="btn btn-ghost inline-flex flex-row items-center gap-2 text-xs px-2 py-1">
                  <span class="hero-arrow-down-tray size-5"></span>
                  Download PDF
                </a>
              </div>
            </div>
          </li>
          <li class="flex flex-row gap-4">
            <div class="bg-base-100  rounded-md border border-gray-600 w-40 h-30 grow-0 p-4 shadow-lg">
              <img alt="Pouch Template" src="/images/templates/template-2.svg" class="w-auto h-full m-auto"  />
            </div>
            <div class="flex flex-col justify-between grow-0 shrink max-w-60">
              <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ligula, interdum non tellus quis, cursus tincidunt neque. Donec dignissim commodo nunc, bibendum ullamcorper turpis maximus.</p>
              <div>
                <a href="#" class="btn btn-ghost inline-flex flex-row items-center gap-2 text-xs px-2 py-1">
                  <span class="hero-arrow-down-tray size-5"></span>
                  Download PDF
                </a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section>
        <header>
          <h2 class="font-display text-xl">About</h2>
          <p class="text-gold text-base">Based in Gowanus, Brooklyn, New York</p>
        </header>
        <img alt="Photo of Gowanus, Brooklyn, NY" src="/images/gowanus-brookyln.jpg" class="block w-full h-56 my-8 bg-black border border-gold shadow-lg" />
        <footer class="font-bold text-xs text-gold">
            <a href="" class="hover:text-white transition-colors duration-500 inline-flex flex-row gap-x-2 items-center">
              <img alt="YouTube Logo" src="/images/youtube.svg" class="size-4" />
              Follow
              Swamp Monster Leather
               on YouTube
            </a>
        </footer>
      </section>
    </div>
  </div>
</Layouts.app>
